
/* global styles */
body{
    background-color: #d3d3d3;
}

a {
    text-decoration: none;
    color: black;
}

/* Header section */

header{
    background-color: white;
    position: fixed;
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;
    left:0;
}

header .content{
    display:flex;
    justify-content: space-between;
    text-align: center;
}

#company-logo{
    margin-left: 50px;
    margin-top: 30px;
}

nav {
    margin-right: 50px;
}

nav ul{
    display:flex;
    justify-content: space-evenly;
}

nav ul li{
    margin: 20px;
    list-style: none;
}

/* main section */
main{
    margin: 61px 0 0 0;
}

/*mission section */
#our-mission{
    background-image: url("./Resources/Images/LightingTheWayForBetterGlobalCooperation.png");
    background-size: 100%;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
}

#our-mission .content{
    color:black;
    background-color: white;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin-top: 90px;
    margin-left: 50px;
}

/* our team section */

#our-team{
    margin: 30px;
}

#our-team .content{
    display:flex;
    justify-content: space-around;
}

#our-team .content .bio-container{
    width: 350px;
    height: auto;
    background-color: white;
}

#our-team .content .bio-container img{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 2px;
}

.name-title{
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
    font-family: 'cursive';
}

.about-me{
    width: 75%;
    height: auto;
    text-align: left;
    margin-left: 30px;
    font-size: 12px;
    font-family:'Lucida Sans', 'sans serif'
}


/* our-products section */

#our-products .content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

.product-container{
    width: 33%;
    background-color: white;
    text-align: left;
}

.product-container img{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    display: block;
    margin: 25px auto;
}

.product-container .content{
    margin-left: 25px;
    display:block;
}

.product-container .content .product-description{
    width: 75%;
}


/* footer section */
footer{
    margin-top: 10px;
    text-align: center;
}

footer #copy-right{
    margin-left: 30px;
    float: left;
}


footer address{
    margin-right: 30px;
    float: right;
}
